@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Raleway", sans-serif;
}


h1 {
    color: var(--danger-400);
    font-weight: bold;
}

h5 {
    color: var(--secondary-700);
    font-weight: bold;

}

h4 {
    color: var(--accent-800);
    font-weight: bold;
}


/* utility */
.text-laligurans {
    color: var(--danger-400);
}

